
.logo{
    background-image: linear-gradient(to right,#1E58D5,#FD328B );
    background-clip: text;
    color:transparent;
    font-weight: bold;
    font-size: 36px;
}

asdasd{
  color: rgb(114, 137, 218)
}